@{
    string appName = "SweetHome";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @appName</title>

    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    @RenderSection("modal", required: false)
    <div class="navigation">
        <div>
            <a href='@Url.Action("Index", "Home", new {})'>
                <img src="http://www.jamieweb.net/images/home-icons/pets.png">
                @appName
            </a>
            @Html.ActionLink("Главная", "Index", "Home")
            @Html.ActionLink("Ищем хозяев", "Animals", "Home")
            @Html.ActionLink("Приюты", "Contact", "Home")
            @Html.ActionLink("Волонтёрам", "Volunteers", "Home")
        </div>
    </div>
    <div class="main-container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @appName</p>
        </footer>
    </div>
    <script src="~/js/almond.js"></script> 
    <script src="~/js/index.js"></script> 
    
    
    @RenderSection("scripts", required: false)
</body>
</html>