@{
    string appName = "SweetHome";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @appName</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    @RenderSection("modal", required: false)
    <div class="navigation">
        <div>
            <a href='@Url.Action("Index", "Home", new {})'>
                <img src="http://www.jamieweb.net/images/home-icons/pets.png">
                @appName
            </a>
            
            @{
                var indexClass = "";
                var animalsClass = "";
                var sheltersClass = "";
                var volunteersClass = "";
                var current = " class=current";
                string pageAction = ViewBag.PageAction;
                switch (pageAction)
                {
                    case "Index":
                        indexClass = current;
                        break;
                    case "Animals":
                        animalsClass = current;
                        break;
                    case "Shelters":
                        sheltersClass = current;
                        break;
                    case "Volunteers":
                        volunteersClass = current;
                        break;
                }
            }
            <a href="@Url.Action("Index", "Home", new {})"@indexClass>Главная</a>
            <a href="@Url.Action("Animals", "Home", new {})"@animalsClass>Ищем хозяев</a>
            <a href="@Url.Action("Shelters", "Home", new {})"@sheltersClass>Приюты</a>
            <a href="@Url.Action("Volunteers", "Home", new {})"@volunteersClass>Волонтёрам</a>
        </div>
    </div>
    <div class="main-container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @appName</p>
        </footer>
    </div>
    <script src="~/js/almond.js"></script> 
    <script src="~/js/index.js"></script> 
    
    
    @RenderSection("scripts", required: false)
</body>
</html>