@model IEnumerable<SweetHome.Models.ShelterAnimal>
@using SweetHome.Models;
@using SweetHome.Utils;
@using SweetHome;

@{
    ViewBag.Title = "Ищем хозяев";
    string url = Url.Action("Animals", "Home", new {});
    string dog_type = AnimalType.Dog.ToString();
    string cat_type = AnimalType.Cat.ToString();
    string blond_color = Color.Blond.ToString();
    string multi_color = Color.Varicoloured.ToString();
    string dark_color = Color.Dark.ToString();
    string small_size = Size.Small.ToString();
    string medium_size = Size.Medium.ToString();
    string large_size = Size.Large.ToString();
}

@section modal {
<div id="animal-modal"> 
    <aside>
        <section>
            <h3></h3>
            <p><a></a></p>
            <p></p>
        </section>
        <section class="gallery">
            <ul class="gallery-aux">
            </ul>
        </section>
        <section>
            <p></p>
        </section>
        <footer>
            <a></a>
            <a></a>
            <a></a>
        </footer>
        <span class="close"></span>
    </aside>
</div>
}


<div class="animals-container">
    <div class="filter-column">
        <ul>
            @{
                var allActive = ViewBag.All ? " class=active" : "";
            }
            <li><a href="@url"@allActive>Все</a></li>
            <li class="menu">
                <div><span>Приюты</span></div>
                <ul> 
                    @foreach(var shelter in ViewBag.Shelters)
		            {
                        var shelterActive = "";
                        if (ViewBag.ShelterId == shelter.Id)
                        {
                            shelterActive = " class=active";
                        }
                        <li><a href="@url?shelter=@shelter.Id"@shelterActive>@shelter.Name</a></li>
                    }
                </ul>
            </li>
            <li class="menu">
                @{
                    var dogOnly = (ViewBag.Type == AnimalType.Dog &&
                                   ViewBag.Size == null &&
                                   ViewBag.AgeLess == null) ? " class=active" : "";
                    var dogYoung = (ViewBag.Type == AnimalType.Dog &&
                                    ViewBag.AgeLess == 1) ? " class=active" : "";
                    var dogSmall = (ViewBag.Type == AnimalType.Dog &&
                                    ViewBag.Size == Size.Small) ? " class=active" : "";
                    var dogMedium = (ViewBag.Type == AnimalType.Dog &&
                                     ViewBag.Size == Size.Medium) ? " class=active" : "";
                    var dogLarge = (ViewBag.Type == AnimalType.Dog &&
                                    ViewBag.Size == Size.Large) ? " class=active" : "";
                }
                <div>
                    @if (ViewBag.ShelterId == 1)
                        {
                            <a href="@url?shelter=1" class="active">Частная передержка</a>
                        }
                    else{
                            <a href="@url?shelter=1">Частная передержка</a>
                    }
                </div>
                <div><a href="@url?type=@dog_type"@dogOnly>Собаки</a></div>
                <ul>
                    <li><a href="@url?type=@dog_type&age_less=1"@dogYoung>Щенки</a></li>
                    <li class="menu">
                        <!--<div><span>Размер</span></div>
                        <ul>
                            <li><a href="@url?type=@dog_type&size=@large_size"@dogLarge>Большие</a></li>
                            <li><a href="@url?type=@dog_type&size=@medium_size"@dogMedium>Средние</a></li>
                            <li><a href="@url?type=@dog_type&size=@small_size"@dogSmall>Маленькие</a></li>
                        </ul>-->
                    </li>
                </ul>
            </li>
            <li class="menu">
                @{
                    var catOnly = (ViewBag.Type == AnimalType.Cat &&
                                   ViewBag.Color == null &&
                                   ViewBag.AgeLess == null) ? " class=active" : "";
                    var catYoung = (ViewBag.Type == AnimalType.Cat &&
                                    ViewBag.AgeLess == 1) ? " class=active" : "";
                    var catBlond = (ViewBag.Type == AnimalType.Cat &&
                                    ViewBag.Color == Color.Blond) ? " class=active" : "";
                    var catMulti = (ViewBag.Type == AnimalType.Cat &&
                                     ViewBag.Color == Color.Varicoloured) ? " class=active" : "";
                    var catDark = (ViewBag.Type == AnimalType.Cat &&
                                    ViewBag.Color == Color.Dark) ? " class=active" : "";
                }
                <div><a href="@url?type=@cat_type"@catOnly>Кошки</a></div>
                <ul>
                    <li><a href="@url?type=@cat_type&age_less=1"@catYoung>Котята</a></li>
                    <li class="menu">
                        <!--<div><span>Цвет</span></div>
                        <ul>
                            <li><a href="@url?type=@cat_type&color=@blond_color"@catBlond>Светлые</a></li>
                            <li><a href="@url?type=@cat_type&color=@dark_color"@catDark>Темные</a></li>
                            <li><a href="@url?type=@cat_type&color=@multi_color"@catMulti>Разноцветные</a></li>
                        </ul>-->
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="animals-display">
        @foreach(var animal in Model)
        {
        var jsonAnimal = SweetHome.Utils.Json.SerializeObject<Shelter>(animal, (shelter => shelter.Animals));
        <div data-animal="@jsonAnimal" data-animal-id="@animal.Id">
            <div class="img" style="background-image: url('@animal.Images[0]');"></div>
            <h3>@animal.Name</h3>
            @if(animal.Shelter != null)
            {
                @if(animal.Shelter.Name == "Частная передержка"){
                    <p>@animal.Shelter.Name</p>
                }
                else{
                    <p><a href="/Shelters/@animal.Shelter.URL">Приют "@animal.Shelter.Name" </a></p>
                }
                 @if(animal.BirthDay != null)
                     {
                        <p>@DateUtils.Age(animal.BirthDay.Value,DateTime.UtcNow)</p>
                     }
                 else
                     {
                         @if (animal.PhoneNumbers.Count != 0)
                            {
                            <p>
                            @foreach(var ph in animal.PhoneNumbers.Select(phone => String.Format("{0:#-###-###-####}", double.Parse(phone))).Aggregate((acc, p) => acc + ", " + p)){
								  @ph
							  }	
                            </p>
                            }
                            else{
                                @if (animal.Shelter.PhoneNumbers.Count != 0)
                                {
                                    <p>
                                    @foreach(var ph in animal.Shelter.PhoneNumbers.Select(phone => String.Format("{0:#-###-###-####}", double.Parse(phone))).Aggregate((acc, p) => acc + ", " + p)){
        								  @ph
        							  }	
                                    </p>
                                }                          
                            
                            }
                     }
            }
        </div>
        }
    </div>
</div>

@section scripts
{
<script>
    (function () {
        var modalUtils = require('utils/modal');
        var scroll_w = modalUtils.getScrollBarWidth();
        var calculate_children_height = function(el) {
            var children = $(el).children();
            var height = 0;
            for (var i = 0; i < children.length; i++)
            {
                height += children[i].clientHeight;
            }
            return height; 
        };
        $('.filter-column').on(
            'click',
            'li.menu>div',
            function(e){
                var $this = $(this);
                if (e.offsetX < 0) { // клик по псевдоэлементу
                    $this.parent().children('ul').slideToggle(500);
                    $this.parent().toggleClass("folded");
                }
            }
        );
        $(".close").click(function(){
            $(this).parents(".active").removeClass("active");
            $("body").css("overflow-y", "auto");
            $("body").css("padding-right", 0);
        });
        $("#animal-modal").click(function(e){
            if (e.target === this){
                window.history.pushState("", "Animals", "/Home/Animals");
                $(this).removeClass("active");   
                $("body").css("overflow-y", "auto");
                $("body").css("padding-right", 0);
            }
        });
        require('bxslider');
        var slider = undefined;
        $("#animal-modal").on("click", ".gallery-aux li", function(e){
            var li = this;
            var ul = li.parentNode;
            var index = Array.prototype.indexOf.call(ul.children, li);
            slider.goToSlide(index);
        });
        var img = require('utils/img');
        $('[data-animal]').on('click', function() {
            var animalData = $(this).data('animal');
            console.log(animalData.Images);
            // Заполним модал данными из animalData
            $('#animal-modal>aside>section:nth-child(1)>h3')
                .html(animalData.Name);
            $('#animal-modal>aside>section:nth-child(1)>p:nth-child(2)')
                .html("Живет в приюте <a>" + animalData.Shelter.Name + "</a>");
            $('#animal-modal>aside>section:nth-child(1)>p:nth-child(2)>a')
                .attr("href","/Shelters/"+animalData.Shelter.URL);
            $('#animal-modal>aside>section:nth-child(1)>p:nth-child(3)')
                .html(animalData.Shelter.PhoneNumbers);
           $('#animal-modal>aside>section:nth-child(3)>p:nth-child(1)')
                .html(animalData.Info);
            var photoElems = "";
            for (var i = 0; i < animalData.Images.length; i++) {
                var active = "";
                if (i==0) active = ' class="selected"';
                photoElems += '<li' + active + '>' + img.div(animalData.Images[i]) + '</li>';
            }
            var galleryElems = "";
            for (var i = 0; i < animalData.Images.length; i++) {
                var active = "";
                if (i==0) active = ' class="selected"';
                galleryElems += '<li' + active + '>' + img.div(animalData.Images[i]) + '</li>';
            }
            if (animalData.Images.length > 1) {
                $('#animal-modal>aside>.gallery>.gallery-aux').html(galleryElems);
            } else {
                $('#animal-modal>aside>.gallery>.gallery-aux').html("");
            }
            $('#animal-modal>aside>.gallery>.bx-wrapper').remove();
            $('#animal-modal>aside>.gallery').prepend('<ul class="bxslider">' + photoElems + '</ul>');
            slider = $('#animal-modal>aside>.gallery>.bxslider').bxSlider({
                mode: 'horizontal',
                // captions: true,
                pager:  false,
                onSlideBefore: function(e, o, i) {
                    $("#animal-modal .gallery .gallery-aux li").removeClass("selected");
                    $("#animal-modal .gallery .gallery-aux li:nth-child("+ (i + 1) +")").addClass("selected");
                }
            });
            window.history.pushState(animalData, animalData.Name, "/Home/Animals?animal_id=" + animalData.Id);
            $("#animal-modal").addClass("active");
            $("body").css("overflow-y", "hidden");
            $("body").css("padding-right", scroll_w + "px");
        });
        @if (ViewBag.AnimalId != null)
        {
            <text>
        $('[data-animal-id="@ViewBag.AnimalId"]').click();
            </text>
        }
    })();
</script>
}