@model IEnumerable<SweetHome.Models.Shelter>
<div class="shelters-list-info">
	
		@foreach(var shelter in Model)
		{
			<div>
				<div class="description">				   
					  @if(shelter.Name == "Хочу домой") 
					  {
						  <h2><a href="/Shelters/HochuDomoi">@shelter.Name</a></h2>
					  }
					  @if(shelter.Name == "Лучик надежды") 
					  {
						  <h2><a href="/Shelters/LuchikNadejdy" target="_blank" >@shelter.Name</a></h2>
					  }
					
				  <div class="phone">@shelter.Phone</div>
				  <div class="vk"> <a href="@shelter.VKGroup" target="_blank">Группа Вконтакте</a> </div>
				  <div class="text">
					  @shelter.Info
				  </div>
				  <a type="button" href="/Home/Animals?shelter=@shelter.Id">Посмотреть животных</a>
			    </div>
				<div class="img"
			         style="background-image: url('@shelter.Image');"
			         title="1">
			    </div>
			</div>
		}
	
</div>