@model IEnumerable<SweetHome.Models.Shelter>
	<div class="shelters2">
		@foreach(var shelter in Model)
		{
			@if(shelter.Name != "Частная передержка"){
				<div class="shelter-item">
					<div  class="image-item">
						<div class="img"
				         style="background-image: url('@shelter.Image');"
				         title="1">
				    	</div>
						<div class="hrefs">
							<div class="href">
				              <a class="img-color"></a>
							  <div>
									<img src="/images/LAPA.png" style="width: 50px; height: 50px; display: block; margin: 0 auto;"/>
									<span>Наши животные </span>
								</div>
							</div>
							<div class="href">
				                <a class="img-color" href="https://vk.com/priutdrug74" target="_blank"></a>
								<div>
								  	<img src="http://thedkmodels.com/vk.jpg" style="width: 50px; height: 50px; display: block; margin: 0 auto;"/>
									<span>Группа вконтакте </span>
								</div> 
							</div>
							@if(shelter.Name == "Друг") 
							  {
								  <div class="href">
						                <a class="img-color" href="http://priutdrug74.ru" target="_blank"></a>
										<div>
										  	<img src="/images/WEB.png" style="width: 50px; height: 50px; display: block; margin: 0 auto;"/>
											<span>Веб-сайт</span>
										</div> 
									</div>
							  }
							  
						</div>
					</div>
					<div class="shelter-description"> 
							 @if(shelter.Name == "Хочу домой") 
							  {
								  <h2><a href="/Shelters/HochuDomoi">@shelter.Name</a></h2>
							  }
							  @if(shelter.Name == "Лучик надежды") 
							  {
								  <h2><a href="/Shelters/LuchikNadejdy" target="_blank" >@shelter.Name</a></h2>
							  }
							  @if(shelter.Name == "Друг") 
							  {
								  <h2 style="margin-top:0px;"><a href="/Shelters/Drug" target="_blank" >@shelter.Name</a></h2>
							  }
							  @if(shelter.Name == "Холли") 
							  {
								  <h2><a href="/Shelters/Holly" target="_blank" >@shelter.Name</a></h2>
							  }
							  
							
						  <div class="phone">
							  @foreach(var ph in shelter.PhoneNumbers.Select(phone => String.Format("{0:#-###-###-####}", double.Parse(phone))).Aggregate((acc, p) => acc + ", " + p)){
								  @ph
							  }						  		
						  </div>
						  <div class="text">
							  @shelter.Info
						  </div>
					</div>	
				</div>	
			}
		}
	</div>
